@use '@/styles/variables.scss' as *;
@use "sass:math";

$gap: 1.5em;

.row {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    gap: $gap;
    padding-bottom: $gap;
    border-bottom: 1px solid var(--c-border);

    h3 {
        margin-top: 0;
    }

    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        flex-flow: column nowrap;
        gap: .5em;
    }
}

.column {
    width: calc(50% - #{math.div($gap, 2)});
    display: flex;
    flex-flow: column wrap;

    &:first-of-type {
        &:hover {
            cursor: pointer;
            h3 {
                text-decoration: underline;
            }
        }
    }

    &:last-of-type {
        justify-content: space-between;
    }
}

.deviceName {
    color: var(--c-text);
}

.deviceLink {
    color: var(--c-brand);
}

@media (max-width: 600px) {
    .row {
        flex-direction: column;
    }

    .column {
        width: 100%;
    }
    
    .deviceLink {
        margin-top: .5em;
    }
}

.imageWrapper {
    display: flex;
    gap: .5em;
    flex-flow: row nowrap;
}

.imageItem {
    height: 8em;
    display: flex;
    align-items: center;
    img {
        max-width: 8em;
        max-height: 8em;
    }
}