@use '@/styles/variables.scss' as *;

.title {
    h1 {
        margin: 0;
        padding: 0;
    }
}

.deviceImage {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        max-width: 8em;
        max-height: 8em;
    }
}

.deviceHeader {
    display: flex;
    gap: 2em;
    padding-top: 1em;
}

.infoTable {
    margin-block: 2em;

    display: grid;
    grid-template-columns: 25% 75%;
    gap: 1.75em;

    h5 {
        margin: 0;
        padding: 0;
        text-transform: uppercase;
    }

    p {
        margin: 0;
    }
}

@media (max-width: 800px) {
    .deviceHeader {
        flex-direction: column-reverse;
        gap: 1em;
    }

    .deviceImage {
        img {
            max-width: 12em;
        }
    }

    .infoTable {
        display: flex;
        flex-direction: column;
        gap: 1em;
    }
}