@use '@/styles/variables.scss' as *;

$dropdown-max-width: calc($content-width * 0.8 - 8px - 3em);

.dropdown {
    position: absolute;
    right: calc(calc(100% - $content-width) / 2);
    margin-top: .75em;
    background: var(--c-bg-light);
    border-radius: 24px;
    
    padding: 1.5em;
    box-shadow: var(--filter-item-shadow);

    max-width: $dropdown-max-width;

    display: flex;
    flex-flow: column nowrap;
    gap: 1.2em;
    z-index: 10;

    h3 {
        margin-block: 0em 4px;
        width: 100%;
    }
}

.row {
    display: flex;
    flex-flow: row wrap;
    gap: 1.5em;

    justify-content: space-between;
    align-items: center;
}

.reverseOrder, .showBuildString {
    all: unset;
    cursor: pointer;
    
    &::before {
        background-color: var(--c-text-light); /* this sets the visible colour */
        content: '';
        display: inline-block;
        width: 1em;
        height: 1em;
        vertical-align: middle;
        transition: opacity 0.2s;
        opacity: 1;
    }
}

.reverseOrder::before {
    mask: url('https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@7.0.1/svgs/solid/up-down.svg')
        no-repeat center / contain;
    -webkit-mask: url('https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@7.0.1/svgs/solid/up-down.svg')
        no-repeat center / contain;
}

.reverseOrder.active::before {
    mask: url('https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@7.0.1/svgs/solid/up-down.svg')
        no-repeat center / contain;
    -webkit-mask: url('https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@7.0.1/svgs/solid/up-down.svg')
        no-repeat center / contain;
    transform: scaleY(-1);
}

.showBuildString::before {
    mask: url('https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@7.0.1/svgs/solid/eye-slash.svg')
        no-repeat center / contain;
    -webkit-mask: url('https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@7.0.1/svgs/solid/eye-slash.svg')
        no-repeat center / contain;
}

.showBuildString.active::before {
    mask: url('https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@7.0.1/svgs/solid/eye.svg')
        no-repeat center / contain;
    -webkit-mask: url('https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@7.0.1/svgs/solid/eye.svg')
        no-repeat center / contain;
}

@media screen and (max-width: 800px) {
    .dropdown {
        right: 2em;
    }   
}