@use '@/styles/variables.scss' as *;

.releaseKind {
    border-radius: 4em;
    color: $c-text;
    border: 1px solid;
    height: 1em;

    padding-inline: 9px;
    padding-block: 2px 4px;
    margin-top: 1.5px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: .5em;
    letter-spacing: .5px;

    &.inlineBlock {
        display: inline-block;
        vertical-align: middle;
        padding-inline: 9px;
        padding-block: 2.5px 3.5px;
        margin-bottom: 4px;
        line-height: initial;
    }

    &.release {
        color: $c-release;
    }

    &.beta {
        color: $c-beta;
    }

    &.rc {
        color: $c-rc;
    }

    &.internal {
        color: $c-internal;
    }

    &.rsr {
        color: $c-rsr;
    }
    
    &.sdk {
        color: $c-sdk;
    }
    
    &.simulator {
        color: $c-simulator;
    }
}