@use '@/styles/variables.scss' as *;

$boundary: 2.5em;

.filterContainer {
  position: sticky;
  top: calc($navbar-height);
  isolation: isolate;
  background: transparent;

  padding: $boundary;
  padding-top: 2em;
  margin: -$boundary;
  margin-top: -2em;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    
    backdrop-filter: blur(10px);
    background: $liquid-glass-bg;
    mask-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 0.8) 60%,
      rgba(255, 255, 255, 0) 10%
    );
    -webkit-mask-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 0.8) 60%,
      rgba(255, 255, 255, 0) 100%
    );
    z-index: -1;
    pointer-events: none;
  }
}


.searchRow {
    display: flex;
    justify-content: space-between;
    gap: .75em;
    margin-bottom: .75em;
}

.searchContainer {
    display: flex;
    gap: .75em;
    flex-flow: row nowrap;
    align-items: center;
    padding: 0em 1em;
    border-radius: 800px;
    // background: $c-bg-lighter;
    flex-grow: 1;

    box-shadow: $liquid-glass-shadow;
    background: $liquid-glass-bg;
    backdrop-filter: $liquid-glass-bg-blur;

    i {
        color: $c-text-light;
    }
}

.searchBar {
    flex-grow: 1;
    border: none;
    font-size: 1em;
    background: none;
    width: 0px;

    &:focus {
        outline: none;
    }
}

.filterIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background $t-hover, color $t-hover;
    border-radius: 100%;

    width: 24px;
    height: 24px;
    margin-inline: -6px;
}

.filterItem {
    box-shadow: $liquid-glass-shadow;
    background: $liquid-glass-bg;
    backdrop-filter: $liquid-glass-bg-blur;

    border-radius: 300px;
    display: flex;
    flex-flow: row nowrap;
    gap: .5em;
    align-items: center;
    font-weight: 500;
    cursor: pointer;
    transition: background $t-hover, color $t-hover, transform $t-hover;
    justify-content: center;
    padding-inline: 1em;

    height: 42px;
    min-width: calc(46px - 2em);

    span {
        -webkit-user-select: none;
        user-select: none;
        margin-right: 4px;
    }

    &.release {
        background: $c-release-lighter;
        color: $c-release-text;
    }
    &.beta {
        background: $c-beta-lighter;
        color: $c-beta-text;
    }
    &.rc {
        background: $c-rc-lighter;
        color: $c-rc-text;
    }
    &.internal {
        background: $c-internal-light;
        color: $c-internal-text;
    }

    &:hover {
        background: $c-border;
        transform: scale(1.02);

        // &.add {
        //     background: $c-border-dark;
        // }
        
        // &.filterSelected .filterIcon {
        //     background: $c-border-dark;
        // }

        &.release {
            background: $c-release-lighter;
            .filterIcon {
                background: $c-release-light;
            }
        }
        &.beta {
            background: $c-beta-lighter;
            .filterIcon {
                background: $c-beta-light;
            }
        }
        &.rc {
            background: $c-rc-lighter;
            .filterIcon {
                background: $c-rc-light;
            }
        }
        &.internal {
            background: $c-internal-lighter;
            .filterIcon {
                background: $c-internal-light;
            }
        }
    }
}

.filterContainer {
    .filterItem {
        transition: box-shadow .5s ease-in-out;
    }
}

.filterContainer.stuck {
    .filterItem {
        transition: box-shadow .5s ease-in-out;
        box-shadow: $liquid-glass-shadow-intense !important;
    }
}

.filterRow {
    display: flex;
    gap: .5em;
    flex-flow: row wrap;
    margin-bottom: 1em;
}