@use '@/styles/variables.scss' as *;

.searchRow {
    display: flex;
    justify-content: space-between;
    gap: .75em;
    margin-bottom: .75em;
}

.searchContainer {
    display: flex;
    gap: .75em;
    flex-flow: row nowrap;
    align-items: center;
    padding: 0em 1em;
    border-radius: 8px;
    background: $c-bg-lighter;
    flex-grow: 1;

    i {
        color: $c-text-light;
    }
}

.searchBar {
    flex-grow: 1;
    border: none;
    font-size: 1em;
    background: none;
    width: 0px;

    &:focus {
        outline: none;
    }
}

.filterIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background $t-hover, color $t-hover;
    border-radius: 100%;
}

.filterItem {
    background: $c-bg-lighter;
    border-radius: 8px;
    display: flex;
    flex-flow: row nowrap;
    gap: .5em;
    align-items: center;
    font-weight: 500;
    cursor: pointer;
    transition: background $t-hover, color $t-hover, transform $t-hover;
    justify-content: center;
    padding-inline: 1em;

    height: 42px;

    span {
        -webkit-user-select: none;
        user-select: none;
    }

    &.release {
        background: $c-release-lighter;
        color: $c-release-text;
    }
    &.beta {
        background: $c-beta-lighter;
        color: $c-beta-text;
    }
    &.rc {
        background: $c-rc-lighter;
        color: $c-rc-text;
    }
    &.internal {
        background: $c-internal-light;
        color: $c-internal-text;
    }

    &:hover {
        background: $c-border;
        transform: scale(1.02);

        &.add {
            background: $c-border-dark;
        }
        
        &.filterSelected .filterIcon {
            background: $c-border-dark;
        }

        &.release {
            background: $c-release-lighter;
            .filterIcon {
                background: $c-release-light;
            }
        }
        &.beta {
            background: $c-beta-lighter;
            .filterIcon {
                background: $c-beta-light;
            }
        }
        &.rc {
            background: $c-rc-lighter;
            .filterIcon {
                background: $c-rc-light;
            }
        }
        &.internal {
            background: $c-internal-lighter;
            .filterIcon {
                background: $c-internal-light;
            }
        }
    }
}

.filterRow {
    display: flex;
    gap: .5em;
    flex-flow: row wrap;
    margin-bottom: 1em;
}